{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "8.0.0" } }],
    "@babel/preset-react",
    "@babel/typescript",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "~": "./src",
          "@static": "./public/static"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": false }],
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
  "ignore": ["node_modules", "**/*.d.ts"]
}
