.link {
  cursor: pointer;
  text-decoration: underline;
  background: none;
  border: none;
  font: inherit;
  margin: inherit;
  color: inherit;
  display: inline;
  text-align: inherit;
  text-indent: inherit;
  &:hover {
    opacity: 0.6;
  }
}
